* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-logo {
  position: absolute;
  top: 17px;
  left: 50px;
}

.header-wrapper {
  width: 100%;
  padding: 15px 0;
  display: flex;
  background-color: #fff;
  position: fixed;
}

.header-logo {
  margin: 0 auto;
}

.header-icon__wrapper {
  position: absolute;
  right: 50px;
  top: 17px;
}

.alert-icon {
  margin-right: 5px;
}

.alert-icon img {
  width: 20px;
  height: 20px;
}

.profile-icon img {
  width: 20px;
  height: 20px;
}

.blank {
  height: 60px;
}
