* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-wrapper {
  width: 360px;
  padding: 10px 0;
  display: flex;
  background-color: #fff;
  position: fixed;
}

.header-logo {
  margin: 0 auto;
}

.header-icon__wrapper {
  position: absolute;
  right: 15px;
  top: 12px;
}

.alert-icon {
  margin-right: 5px;
}

.alert-icon img {
  width: 20px;
  height: 20px;
}

.profile-icon img {
  width: 20px;
  height: 20px;
}
