* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
}

main {
  width: 75%;
  margin: 0 auto;
}
/* 회원가입 틀 */
.join-wrapper {
  width: 100%;
}

.join-title {
  text-align: center;
  font-size: 16px;
}

/* step */
.step {
  width: 100%;
  font-size: 0.72rem;
  font-weight: bold;
  /* border-bottom: 1px solid black; */
  display: flex;
  margin: 20px 0;
}

.step-1 {
  width: 50%;
  border-bottom: 1px solid #a0a0a0;
}

.step-2 {
  width: 50%;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid #8fffa9;
}

/* 유형 */
.id-type {
  margin-bottom: 20px;
}

.id-type-title {
  font-size: 0.95rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.id-type-choice {
  display: flex;
  width: 100%;
  font-size: 0.8rem;
}

.id-type-normal {
  width: 30%;
  border-bottom: 2px solid #5ec48d;
  color: #5ec48d;
  padding-bottom: 3px;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
}

.id-type-total:hover {
  cursor: pointer;
  border-bottom: 2px solid #5ec48d;
}

.id-type-normal img {
  width: 15px;
  height: 15px;
}

.id-type-master {
  width: 30%;
  margin-right: 5%;
}

.id-type-law {
  width: 30%;
}

/* 이메일 */
.email {
  width: 100%;
  margin-bottom: 30px;
}

.email-title {
  font-size: 0.9rem;
}

.email-input {
  display: flex;
}

.email-input button:hover {
  background-color: #5ec48d;
  cursor: pointer;
}

.email-input::placeholder {
  color: #afafaf;
}

.email-input input {
  width: 77%;
  border: none;
  border-bottom: 1px solid #a0a0a0;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 20px;
  padding-bottom: 3px;
}

.email-input button {
  width: 25%;
  background-color: #afafaf;
  color: #fff;
  border-radius: 5px;
  font-size: 11px;
  padding: 6px 10px;
  border: none;
}

/* 비밀번호 */
.pw {
  margin-bottom: 30px;
}

.pw-title {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.pw-input {
  display: flex;
  border-bottom: 1px solid #a0a0a0;
  justify-content: space-between;
}

.pw-input input {
  width: 70%;
  border: none;
  padding-bottom: 5px;
  padding-left: 5px;
}

.pw-input img {
  width: 20px;
  height: 15px;
  padding-right: 5px;
}

/* 이용약관 전체동의 */
.agree {
  padding-top: 10px;
  margin-bottom: 30px;
}

.agree-title {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.agree-total {
  border-bottom: 1px solid #a0a0a0;
  font-size: 0.8rem;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.agree-total img {
  width: 18px;
  margin-bottom: -4px;
}

/* 하단 약관 전체 동의 */
.under-agree {
  margin-left: 3px;
}

.under-agree-must {
  font-size: 0.77rem;
}

.under-agree-must img {
  width: 16px;
  margin-bottom: -3px;
}

/* 전체동의 하단 상세동의 */
.under-agree-must-content {
  display: flex;
  justify-content: space-between;
  margin-left: 2px;
  margin-top: 5px;
}

.under-agree-must-content-check {
  font-size: 0.7rem;
}

.under-agree-must-content-check img {
  width: 14px;
  margin-bottom: -2px;
}

/* 상세보기 */
.under-agree-must-content-detail {
  font-size: 0.6rem;
}

.under-agree-must-content-detail img {
  width: 8px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

/* 회원가입 버튼 */
.join-btn {
  font-size: 0.92rem;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #afafaf;
  margin-bottom: 40px;
}

.join-btn:hover {
  background-color: #8fffa9;
}
